.introduce {
    .pic {
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      img {
        width: 100%;
        border-radius: 100px 0 100px 0;
        box-shadow: 0 5px 20px rgba(0,0,0,0.15);
      }
    }
    .text {
      padding: 0 20px;
      .title {
        text-align: left;
      }
      .intro-list {
        padding-left: 25px;
        li {
          margin-bottom: 10px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            left: -25px;
            top: 6px;
            background-image: url(../img/plus.svg);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }