@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
$main-color: #d72136;
$second-color: #D2A360;
$main-bg: #ffeff1;
$gray-color: #dcdcdc;
$deeper-gray: #5c5c5c;
$text-color: #444;
$white: #fff;
$font-common: 'Noto Sans TC', sans-serif;
$transisiton-common: 0.3s ease-in-out;

body {
    font-family: $font-common;
    background-color: rgb(248, 248, 248);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, button, textarea {
    background-color: transparent;
    border: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
    color: $text-color;
    text-decoration: none;
    &:hover {
        color: $text-color;
    }
}

.mb-100 { margin-bottom: 100px; }

.header {
    position: fixed;
    width: 100%;
    padding: 15px 30px 20px 20px;
    // display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: $main-color;
    border-radius: 0 0 50px 0;
    width: fit-content;
    .logo {
      width: 50px;
      display: block;
      margin-bottom: 30px;
      filter: brightness(100);
    }
    @media screen and (max-width: 575px) {
        // display: flex;
        .logo {
            // margin-bottom: 0;
        }
    }
}

.menu {
    max-width: 320px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -330px;
    z-index: 100;
    overflow: auto;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    padding: 23px 30px;
    transition: 0.3s ease-in;
    z-index: 10;
    &.active {
      left: 0;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .logo {
          width: 50px;
        }
    }
    &_cross {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            width: 50%;
            path {
                fill: $main-color;
                transition: 0.3s;
            }
        }
        &:hover {
            svg {
                path {
                    fill: $second-color;
                }
            }
        }
    }
    .content {
      .item {
        margin-bottom: 20px;
        .menu-title {
          color: $second-color;
          font-weight: 600;
          margin-bottom: 16px;
          font-size: 20px;
          position: relative;
          cursor: pointer;
          a {
            color: $second-color;
            font-weight: 600;
            margin-bottom: 16px;
            font-size: 20px;
            transition: 0.3s;
            display: block;
            width: 100%;
            &:hover, &.active {
                color: $main-color;
            }
          }
          svg {
              position: absolute;
              width: 8px;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              transition: 0.3s;
              display: none;
              .cls-1 {
                  fill: $second-color;
                  transition: 0.3s;
            }
          }
          &.drop {
            svg {
                display: block;
            }
          }
          &.active {
            a {
                color: $main-color;
            }
            svg {
                transform: translateY(-50%) rotate(90deg);
                .cls-1 {
                    fill: $main-color;
                }
            }
          }
        }
        ul {
          display: none;
          li {
            margin-bottom: 10px;
            a {
              font-size: 16px;
              transition: 0.3s;
              &:hover, &.active {
                  color: $second-color;
              }
            }
          }
        }
      }
    }
    &_search {
        width: 100%;
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        svg {
            width: 18px;
            path {
                fill: $main-color
            }
        }
        input {
            width: calc(100% - 30px);
            border-bottom: 1px solid $main-color;
            height: 35px;
        }
    }
    &-icon {
        width: 20px;
        cursor: pointer;
        transition: 0.3s;
        path {
            fill: #fff;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.footer {
    &_logo {
        width: 80px;
        filter: brightness(100);
    }
    &_top {
        background-color: #535353;
        color: #fff;
        padding: 30px 0;
        h3 {
            font-size: 18px;
            margin: 0 0 10px;
            padding-bottom: 8px;
            border-bottom: 1px solid #676767;
        }
        &_right {
            width: calc(100% - 80px);
            padding-left: 150px;
        }
        &_link {
            // width: 40%;
            h4 {
                font-size: 15px;
                margin: 0 0 10px;
            }
            ul {
                li {
                    a {
                        color: #cdcdcd;
                        font-size: 14px;
                    }
                }
            }
        }
        &_list {
            padding-left: 40px;
            ul {
                li {
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &_inform {
        a {
            display: flex;
            align-items: center;
        }
        img {
            width: 15px;
            opacity: 0.8;
        }
        i {
            font-size: 13px;
            color: #cdcdcd;
            width: 15px;
        }
        span {
            font-size: 13px;
            color: #cdcdcd;
            transform: translateY(1px);
            width: calc(100% - 15px);
            padding-left: 5px;
        }
    }
    &_social {
        display: flex;
        margin-top: 15px;
        li {
            margin-right: 10px;
        }
        a {
            transition: 0.3s;
            &:hover {
                opacity: 0.8;
            }
        }
        i {
            font-size: 20px;
            color: #cdcdcd;
        }
    }
    &_bottom {
        padding: 10px 0;
        text-align: center;
        background-color: #3b3b3b;
        color: rgb(122, 122, 122);
        font-size: 14px;
    }
    @media screen and (max-width:991px) {
        &_top {
            &_right {
                padding-left: 50px;
            }
        }
    }
    @media screen and (max-width:767px) {
        &_top {
            &_right {
                margin-top: 30px;
                padding-left: 0;
                width: 100%;
            }
            &_list {
                padding-left: calc(var(--bs-gutter-x) / 2);
                margin-top: 30px;
            }
        }
    }
}

.banner {
    &-page {
        padding-left: 50px;
        margin-bottom: 40px;
        &_inner {
            width: 100%;
            padding-bottom: 30%;
            position: relative;
            border-radius: 0 0 0 200px;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            h1 {
                position: absolute;
                color: #fff;
                font-size: 42px;
                margin: 0;
                text-shadow: 0 1px 5px rgba(0,0,0,0.2);
                top: 50%;
                left: 150px;
                transform: translateY(-50%);
                letter-spacing: 0.05em;
                text-shadow: 0 1px 5px rgba(0,0,0,0.2);
            }
        }
        &_mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        @media screen and (max-width: 767px) {
            &_inner {
                padding-bottom: 60%;
            }
        }
        @media screen and (max-width: 575px) {
            padding-left: 30px;
            &_inner {
                border-radius: 0 0 0 150px;
                h1 {
                    font-size: 36px;
                    left: 100px;
                }
            }
        }
        @media screen and (max-width: 450px) {
            padding-left: 20px;
            &_inner {
                border-radius: 0 0 0 100px;
                h1 {
                    font-size: 32px;
                    left: inherit;
                    right: 40px;
                }
            }
        }
    }
    &-contentPage {
        margin: 0 auto 40px;
        max-width: 1200px;
        padding: 30px 0 0;
        &_inner {
            border-radius: 50px !important;
            h1 {
                position: static;
            }
        }
        &_text {
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            h1 {
                text-align: center;
                margin-bottom: 10px;
                transform: none;
                position: static;
            }
            p {
                color: #fff;
                margin: 0;
                text-align: center;
                text-shadow: 0 1px 5px rgba(0,0,0,0.2);
            }
        }
    }
}

.breadcrumb {
    margin-bottom: 40px;
    li {
        a {
            font-size: 15px;
            color: $deeper-gray;
            padding: 0 10px;
            position: relative;
            transition: 0.3s;
            &.active, &:hover {
                color: $main-color;
            }
        }
        &:not(:first-child) {
            a {
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 15px;
                    background-color: $gray-color;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.classification {
    margin-bottom: 40px;
    li {
        margin: 0 15px 15px;
        a {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $second-color;
            background-color: #fff;
            color: $second-color;
            position: relative;
            transition: 0.3s;
            &::before {
                width: 74px;
                height: 74px;
                border-radius: 50%;
                border: 1px solid $second-color;
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.active, &:hover {
                border: 3px solid $main-color;
                color: $main-color;
                box-shadow: 0 2px 10px rgba(0,0,0,0.15);
                &::before {
                    border-color: $main-color;
                }
            }
        }
    }
}

.pagination {
    li {
        margin: 0 5px;
        a {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid $gray-color;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            &.arrow-prev {
                transform: scaleX(-1);
            }
            &.active, &:hover {
                background-color: $main-color;
                color: #fff;
                border-color: $main-color;
            }
        }
        svg {
            width: 25%;
            .cls-1 {
                fill: $gray-color;
            }
        }
    }
}

.lookall {
    width: 100px;
    height: 40px;
    background-color: $main-color;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: 0.3s;
    border-radius: 15px 0 15px 0;
    &:hover {
        background-color: $second-color;
        color: #fff;
    }
}

.share {
    margin-bottom: 40px;
    a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $gray-color;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin: 0 5px;
        cursor: pointer;
        i {
            font-size: 20px;
            color: $gray-color;
        }
    }
}