/* product */
.product {
    &-box {
        position: relative;
        .prod-content {
            width: 100%;
            margin-bottom: 30px;
            &:hover {
                .product-pic {
                    opacity: 0.8;
                }
                .prod-text {
                    h5 {
                        color: $deeper-gray;
                    }
                    .price {
                        color: $deeper-gray;
                    }
                }
            }
        }
    }
    .brand {
        img {
            height: 30px;
            margin-right: 5px;
        }
        &:hover {
            opacity: 0.8;
            background-color: $second-color;
            color: $main-color;
            font-weight: 700;
            border-color: $gray-color;
        }
    }
    &-pic {
        width: 100%;
        height: 0;
        padding-bottom: 70%;
        position: relative;
        transition: 0.3s;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        .tag {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .prod-text {
        margin-top: 8px;
        .name {
            font-size: 18px;
            font-weight: 700;
            color: $text-color;
            transition: 0.3s;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .price {
            font-size: 16px;
            color: $second-color;
            transition: 0.3s;
        }
    }
    &_list {
        margin-bottom: 40px;
    }
    &-slider {
        display: flex;
        align-items: center;
        &-main {
            width: 86%;
            .product-item {
                &:hover {
                    >img {
                        transform: none;
                    }
                }
            }
            &_arrow {
                position: absolute;
                top: inherit;
                bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
            .swiper-button {
                box-shadow: 0 5px 20px rgba(0,0,0,0.2);
                &-prev, &-next {
                    position: static;
                    width: 35px;
                    height: 35px;
                    background-color: rgba(255,255,255,0.9);
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::after {
                        content: "";
                    }
                    svg {
                        width: 40%;
                        height: 40%;
                        path {
                            transition: $transisiton-common;
                        }
                    }
                    &:hover {
                        svg {
                            path {
                                stroke: $second-color;
                            }
                        }
                    }
                }
                &-prev {
                    border-radius: 100px 0 0 100px;
                }
                &-next {
                    border-radius: 0 100px 100px 0;
                }
            }
        }
        &-thumb {
            position: absolute;
            width: 100%;
            height: 100%;
            &-box {
                width: 14%;
                padding-left: 15px;
                height: 100%;
                .inner {
                    position: relative;
                    width: 100%;
                    // padding-bottom: 435%;
                    padding-bottom: 630%;
                    height: 0;
                }
                .swiper-button {
                    &-prev, &-next {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $deeper-gray;
                        left: 50%;
                        right: inherit;
                        transform: translateX(-50%) rotate(90deg);
                        transition: $transisiton-common;
                        svg {
                            width: 40%;
                            height: 40%;
                            path {
                                stroke: $deeper-gray;
                                transition: $transisiton-common;
                            }
                        }
                        &::after {
                            content: "";
                        }
                        &:hover {
                            border-color: $main-color;
                            svg {
                                path {
                                    stroke: $main-color;
                                }
                            }
                        }
                    }
                    &-prev {
                        top: -20px;
                    }
                    &-next {
                        top: inherit;
                        bottom: -40px;
                        transform: translateX(-50%) rotate(90deg);
                    }
                }
            }
            .swiper-slide {
                opacity: 0.5;
                cursor: pointer;
                transition: $transisiton-common;
                &-thumb-active {
                    opacity: 1;
                }
            }
        }
    }
    &-inform {
        padding-left: 50px;
        &_title {
            background-color: #f5f5f5;
            padding: 20px 30px;
            margin-bottom: 25px;
            h1 {
                font-size: 36px;
                margin: 0 0 10px;
            }
            .price {
                color: $second-color;
                font-weight: 600;
                font-size: 30px;
                margin: 0;
            }
        }
        &_btn {
            display: flex;
            justify-content: space-between;
            padding-right: 50px;
            .btn-cart, .btn-buy {
                width: calc(50% - 12px);
                border-radius: 100px;
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $main-color;
                transition: $transisiton-common;
                &:hover {
                    background-color: $second-color;
                    border-color: $second-color;
                }
            }
            .btn-cart {
                svg {
                    margin-right: 10px;
                    path {
                        fill: $main-color;
                        transition: $transisiton-common;
                    }
                }
                span {
                    color: $main-color;
                }
                &:hover {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                    span {
                        color: $white;
                    }
                }
            }
            .btn-buy {
                background-color: $main-color;
                color: $white;
            }
        }
        .product-num {
            margin-bottom: 25px;
        }
    }
    &-num {
        display: flex;
        align-items: center;
        width: 150px;
        height: 45px;
        border-radius: 100px;
        border: 1px solid #b3b3b3;
        button {
            height: 100%;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                path {
                    transition: $transisiton-common;
                }
            }
            &:hover {
                svg {
                    path {
                        stroke: $second-color;
                    }
                }
            }
        }
        input {
            width: calc(100% - 100px);
            text-align: center;
        }
    }
    &-intro {
        margin-top: 60px;
        margin-bottom: 50px;
        &_title {
            background-color: #f5f5f5;
            width: 100%;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        &_content {
            line-height: 1.7;
            img {
                max-width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    &-item {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        transition: $transisiton-common;
        display: block;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            transition: $transisiton-common;
        }
        &:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            >img {
                transform: scale(1.1);
            }
        }
        &-box {
            margin-bottom: 45px;
            display: block;
        }
    }
    @media screen and (max-width:991px) {
        &-inform {
            padding-left: 0;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 575px) {
        &-inform {
            padding-top: 30px;
            &_title {
                padding: 15px 20px;
                h1 {
                    font-size: 28px;
                }
                .price {
                    font-size: 20px;
                }
            }
            &_btn {
                padding-right: 0;
            }
        }
    }
    @media screen and (max-width: 400px) {
        &-inform {
            &_btn {
                display: block;
                .btn-cart, .btn-buy {
                    width: 100%;
                }
                .btn-cart {
                    margin-bottom: 20px;
                }
            }
        }
    }
}


.tag {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: $main-color;
    padding: 5px 10px;
    border-radius: 8px 0;
}

