@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f8f8f8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button, textarea {
  background-color: transparent;
  border: 0;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
}

.mb-100 {
  margin-bottom: 100px;
}

.header {
  position: fixed;
  width: 100%;
  padding: 15px 30px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  background-color: #d72136;
  border-radius: 0 0 50px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header .logo {
  width: 50px;
  display: block;
  margin-bottom: 30px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.menu {
  max-width: 320px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -330px;
  z-index: 100;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  padding: 23px 30px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  z-index: 10;
}

.menu.active {
  left: 0;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.menu_header .logo {
  width: 50px;
}

.menu_cross {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.menu_cross svg {
  width: 50%;
}

.menu_cross svg path {
  fill: #d72136;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu_cross:hover svg path {
  fill: #D2A360;
}

.menu .content .item {
  margin-bottom: 20px;
}

.menu .content .item .menu-title {
  color: #D2A360;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.menu .content .item .menu-title a {
  color: #D2A360;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  width: 100%;
}

.menu .content .item .menu-title a:hover, .menu .content .item .menu-title a.active {
  color: #d72136;
}

.menu .content .item .menu-title svg {
  position: absolute;
  width: 8px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.menu .content .item .menu-title svg .cls-1 {
  fill: #D2A360;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .content .item .menu-title.drop svg {
  display: block;
}

.menu .content .item .menu-title.active a {
  color: #d72136;
}

.menu .content .item .menu-title.active svg {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.menu .content .item .menu-title.active svg .cls-1 {
  fill: #d72136;
}

.menu .content .item ul {
  display: none;
}

.menu .content .item ul li {
  margin-bottom: 10px;
}

.menu .content .item ul li a {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .content .item ul li a:hover, .menu .content .item ul li a.active {
  color: #D2A360;
}

.menu_search {
  width: 100%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.menu_search svg {
  width: 18px;
}

.menu_search svg path {
  fill: #d72136;
}

.menu_search input {
  width: calc(100% - 30px);
  border-bottom: 1px solid #d72136;
  height: 35px;
}

.menu-icon {
  width: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-icon path {
  fill: #fff;
}

.menu-icon:hover {
  opacity: 0.7;
}

.footer_logo {
  width: 80px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.footer_top {
  background-color: #535353;
  color: #fff;
  padding: 30px 0;
}

.footer_top h3 {
  font-size: 18px;
  margin: 0 0 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #676767;
}

.footer_top_right {
  width: calc(100% - 80px);
  padding-left: 150px;
}

.footer_top_link h4 {
  font-size: 15px;
  margin: 0 0 10px;
}

.footer_top_link ul li a {
  color: #cdcdcd;
  font-size: 14px;
}

.footer_top_list {
  padding-left: 40px;
}

.footer_top_list ul li {
  margin-bottom: 5px;
}

.footer_top_list ul li:last-child {
  margin-bottom: 0;
}

.footer_inform a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_inform img {
  width: 15px;
  opacity: 0.8;
}

.footer_inform i {
  font-size: 13px;
  color: #cdcdcd;
  width: 15px;
}

.footer_inform span {
  font-size: 13px;
  color: #cdcdcd;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  width: calc(100% - 15px);
  padding-left: 5px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.footer_social li {
  margin-right: 10px;
}

.footer_social a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_social a:hover {
  opacity: 0.8;
}

.footer_social i {
  font-size: 20px;
  color: #cdcdcd;
}

.footer_bottom {
  padding: 10px 0;
  text-align: center;
  background-color: #3b3b3b;
  color: #7a7a7a;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .footer_top_right {
    padding-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer_top_right {
    margin-top: 30px;
    padding-left: 0;
    width: 100%;
  }
  .footer_top_list {
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: 30px;
  }
}

.banner-page {
  padding-left: 50px;
  margin-bottom: 40px;
}

.banner-page_inner {
  width: 100%;
  padding-bottom: 30%;
  position: relative;
  border-radius: 0 0 0 200px;
  overflow: hidden;
}

.banner-page_inner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner-page_inner h1 {
  position: absolute;
  color: #fff;
  font-size: 42px;
  margin: 0;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 150px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 0.05em;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.banner-page_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .banner-page_inner {
    padding-bottom: 60%;
  }
}

@media screen and (max-width: 575px) {
  .banner-page {
    padding-left: 30px;
  }
  .banner-page_inner {
    border-radius: 0 0 0 150px;
  }
  .banner-page_inner h1 {
    font-size: 36px;
    left: 100px;
  }
}

@media screen and (max-width: 450px) {
  .banner-page {
    padding-left: 20px;
  }
  .banner-page_inner {
    border-radius: 0 0 0 100px;
  }
  .banner-page_inner h1 {
    font-size: 32px;
    left: inherit;
    right: 40px;
  }
}

.banner-contentPage {
  margin: 0 auto 40px;
  max-width: 1200px;
  padding: 30px 0 0;
}

.banner-contentPage_inner {
  border-radius: 50px !important;
}

.banner-contentPage_inner h1 {
  position: static;
}

.banner-contentPage_text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-contentPage_text h1 {
  text-align: center;
  margin-bottom: 10px;
  -webkit-transform: none;
          transform: none;
}

.banner-contentPage_text p {
  color: #fff;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.breadcrumb {
  margin-bottom: 40px;
}

.breadcrumb li a {
  font-size: 15px;
  color: #5c5c5c;
  padding: 0 10px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumb li a.active, .breadcrumb li a:hover {
  color: #d72136;
}

.breadcrumb li:not(:first-child) a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #dcdcdc;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.classification {
  margin-bottom: 40px;
}

.classification li {
  margin: 0 15px 15px;
}

.classification li a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #D2A360;
  background-color: #fff;
  color: #D2A360;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.classification li a::before {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid #D2A360;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.classification li a.active, .classification li a:hover {
  border: 3px solid #d72136;
  color: #d72136;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.classification li a.active::before, .classification li a:hover::before {
  border-color: #d72136;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.pagination li a.arrow-prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.pagination li a.active, .pagination li a:hover {
  background-color: #d72136;
  color: #fff;
  border-color: #d72136;
}

.pagination li svg {
  width: 25%;
}

.pagination li svg .cls-1 {
  fill: #dcdcdc;
}

.lookall {
  width: 100px;
  height: 40px;
  background-color: #d72136;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 15px 0 15px 0;
}

.lookall:hover {
  background-color: #D2A360;
  color: #fff;
}

.share {
  margin-bottom: 40px;
}

.share a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.share a i {
  font-size: 20px;
  color: #dcdcdc;
}

.banner {
  position: relative;
}

.banner .swiper-slide {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}

.banner .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner .swiper-pagination-bullet {
  background-color: #dcdcdc;
  opacity: 1;
}

.banner .swiper-pagination-bullet-active {
  background-color: #d72136;
}

.banner .swiper-pagination-bullets {
  max-width: none;
}

.banner .arrow {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .arrow svg {
  width: 30%;
}

.banner .arrow svg .cls-1 {
  fill: #d72136;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .arrow.Bprev {
  left: calc(50vw - 75px);
}

.banner .arrow.Bprev svg {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.banner .arrow.Bnext {
  right: calc(50vw - 75px);
}

.banner .arrow.Bnext svg {
  width: 5px;
  display: block;
  margin: 6px auto;
}

.banner .arrow:hover {
  background-color: #d72136;
}

.banner .arrow:hover svg .cls-1 {
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .banner .swiper-slide {
    padding-bottom: 60%;
  }
}

.title {
  text-align: center;
  color: #444;
  font-size: 32px;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 80px;
}

/* product */
.product-box {
  position: relative;
}

.product-box .prod-content {
  width: 100%;
  margin-bottom: 30px;
}

.product-box .prod-content:hover .product-pic {
  opacity: 0.8;
}

.product-box .prod-content:hover .prod-text h5 {
  color: #5c5c5c;
}

.product-box .prod-content:hover .prod-text .price {
  color: #5c5c5c;
}

.product .brand img {
  height: 30px;
  margin-right: 5px;
}

.product .brand:hover {
  opacity: 0.8;
  background-color: #D2A360;
  color: #d72136;
  font-weight: 700;
  border-color: #dcdcdc;
}

.product-pic {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.product-pic .tag {
  position: absolute;
  top: 0;
  left: 0;
}

.product .prod-text {
  margin-top: 8px;
}

.product .prod-text .name {
  font-size: 18px;
  font-weight: 700;
  color: #444;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product .prod-text .price {
  font-size: 16px;
  color: #D2A360;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_list {
  margin-bottom: 40px;
}

.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-slider-main {
  width: 86%;
}

.product-slider-main .product-item:hover > img {
  -webkit-transform: none;
          transform: none;
}

.product-slider-main_arrow {
  position: absolute;
  top: inherit;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.product-slider-main .swiper-button {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.product-slider-main .swiper-button-prev, .product-slider-main .swiper-button-next {
  position: static;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-slider-main .swiper-button-prev::after, .product-slider-main .swiper-button-next::after {
  content: "";
}

.product-slider-main .swiper-button-prev svg, .product-slider-main .swiper-button-next svg {
  width: 40%;
  height: 40%;
}

.product-slider-main .swiper-button-prev svg path, .product-slider-main .swiper-button-next svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-slider-main .swiper-button-prev:hover svg path, .product-slider-main .swiper-button-next:hover svg path {
  stroke: #D2A360;
}

.product-slider-main .swiper-button-prev {
  border-radius: 100px 0 0 100px;
}

.product-slider-main .swiper-button-next {
  border-radius: 0 100px 100px 0;
}

.product-slider-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-slider-thumb-box {
  width: 14%;
  padding-left: 15px;
  height: 100%;
}

.product-slider-thumb-box .inner {
  position: relative;
  width: 100%;
  padding-bottom: 630%;
  height: 0;
}

.product-slider-thumb-box .swiper-button-prev, .product-slider-thumb-box .swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #5c5c5c;
  left: 50%;
  right: inherit;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-slider-thumb-box .swiper-button-prev svg, .product-slider-thumb-box .swiper-button-next svg {
  width: 40%;
  height: 40%;
}

.product-slider-thumb-box .swiper-button-prev svg path, .product-slider-thumb-box .swiper-button-next svg path {
  stroke: #5c5c5c;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-slider-thumb-box .swiper-button-prev::after, .product-slider-thumb-box .swiper-button-next::after {
  content: "";
}

.product-slider-thumb-box .swiper-button-prev:hover, .product-slider-thumb-box .swiper-button-next:hover {
  border-color: #d72136;
}

.product-slider-thumb-box .swiper-button-prev:hover svg path, .product-slider-thumb-box .swiper-button-next:hover svg path {
  stroke: #d72136;
}

.product-slider-thumb-box .swiper-button-prev {
  top: -20px;
}

.product-slider-thumb-box .swiper-button-next {
  top: inherit;
  bottom: -40px;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.product-slider-thumb .swiper-slide {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-slider-thumb .swiper-slide-thumb-active {
  opacity: 1;
}

.product-inform {
  padding-left: 50px;
}

.product-inform_title {
  background-color: #f5f5f5;
  padding: 20px 30px;
  margin-bottom: 25px;
}

.product-inform_title h1 {
  font-size: 36px;
  margin: 0 0 10px;
}

.product-inform_title .price {
  color: #D2A360;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

.product-inform_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
}

.product-inform_btn .btn-cart, .product-inform_btn .btn-buy {
  width: calc(50% - 12px);
  border-radius: 100px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d72136;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-inform_btn .btn-cart:hover, .product-inform_btn .btn-buy:hover {
  background-color: #D2A360;
  border-color: #D2A360;
}

.product-inform_btn .btn-cart svg {
  margin-right: 10px;
}

.product-inform_btn .btn-cart svg path {
  fill: #d72136;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-inform_btn .btn-cart span {
  color: #d72136;
}

.product-inform_btn .btn-cart:hover svg path {
  fill: #fff;
}

.product-inform_btn .btn-cart:hover span {
  color: #fff;
}

.product-inform_btn .btn-buy {
  background-color: #d72136;
  color: #fff;
}

.product-inform .product-num {
  margin-bottom: 25px;
}

.product-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #b3b3b3;
}

.product-num button {
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-num button svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-num button:hover svg path {
  stroke: #D2A360;
}

.product-num input {
  width: calc(100% - 100px);
  text-align: center;
}

.product-intro {
  margin-top: 60px;
  margin-bottom: 50px;
}

.product-intro_title {
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.product-intro_content {
  line-height: 1.7;
}

.product-intro_content img {
  max-width: 100%;
  margin-bottom: 30px;
}

.product-item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: block;
}

.product-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-item:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.product-item:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-item-box {
  margin-bottom: 45px;
  display: block;
}

@media screen and (max-width: 991px) {
  .product-inform {
    padding-left: 0;
    padding-top: 50px;
  }
}

@media screen and (max-width: 575px) {
  .product-inform {
    padding-top: 30px;
  }
  .product-inform_title {
    padding: 15px 20px;
  }
  .product-inform_title h1 {
    font-size: 28px;
  }
  .product-inform_title .price {
    font-size: 20px;
  }
  .product-inform_btn {
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .product-inform_btn {
    display: block;
  }
  .product-inform_btn .btn-cart, .product-inform_btn .btn-buy {
    width: 100%;
  }
  .product-inform_btn .btn-cart {
    margin-bottom: 20px;
  }
}

.tag {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #d72136;
  padding: 5px 10px;
  border-radius: 8px 0;
}

.service {
  text-align: center;
  color: #fff;
  width: 100%;
  position: relative;
  padding: 80px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.service_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
}

.service .title {
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.service .line {
  background-color: #fff;
  height: 1px;
  width: 30%;
  margin: 0 auto 25px;
}

.service p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.service_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(6%, transparent), color-stop(6%, #efefef), to(#efefef));
  background: linear-gradient(to right, transparent 0%, transparent 6%, #efefef 6%, #efefef 100%);
  margin-bottom: 135px;
  border-radius: 100px 0 100px 0;
}

.service_list_item:nth-child(even) {
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(6%, transparent), color-stop(6%, #efefef), to(#efefef));
  background: linear-gradient(to left, transparent 0%, transparent 6%, #efefef 6%, #efefef 100%);
}

.service_list_item:nth-child(even) .service_list_pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.service_list_item:nth-child(even) .service_list_text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.service_list_pic {
  width: 43%;
  padding-bottom: calc(43% * 0.69);
  position: relative;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  border-radius: 100px 0 100px 0;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service_list_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service_list_text {
  width: 57%;
  padding: 0 50px;
}

.service_list_text h2 {
  color: #464646;
  margin-bottom: 20px;
  font-size: 32px;
}

.service_content_pic {
  width: 100%;
  padding-bottom: 69%;
  position: relative;
  border-radius: 60px 0 60px 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.service_content_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service_content_text {
  padding-left: 40px;
}

.service_content_text h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 500;
}

.service_content .lookall {
  margin: 50px 0 0;
}

@media screen and (max-width: 1399px) {
  .service_list_text {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 991px) {
  .service_list {
    padding-top: 30px;
  }
  .service_list_pic {
    width: 95%;
    padding-bottom: calc(95% * 0.69);
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  .service_list_text {
    width: 95%;
    margin-left: auto;
    margin-right: 0;
    padding: 0 30px 30px;
  }
  .service_list_item {
    margin-bottom: 80px;
  }
  .service_list_item:nth-child(even) {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(6%, transparent), color-stop(6%, #efefef), to(#efefef));
    background: linear-gradient(to right, transparent 0%, transparent 6%, #efefef 6%, #efefef 100%);
  }
  .service_list_item:nth-child(even) .service_list_pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .service_list_item:nth-child(even) .service_list_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .service_content_text {
    padding-left: 0;
    padding-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .service_list_text h2 {
    font-size: 28px;
  }
  .service_list_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .service_list_text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.news {
  background-color: #ffeff1;
  padding: 80px 0;
}

.news_list {
  margin-bottom: 40px;
}

.news_group {
  background-color: #fff;
  width: calc(100% - 40px);
  max-width: 840px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 15px 10px 10px;
  border-radius: 25px 0 25px 0;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_group:hover .news_date {
  background-color: #d72136;
}

.news_group:hover .news_icon .cls-1 {
  fill: #d72136;
}

.news_date {
  padding: 5px 10px;
  background-color: #D2A360;
  border-radius: 15px 0 15px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.news_date h5 {
  letter-spacing: 0.8px;
  color: #fff;
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

.news_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.news_title p {
  letter-spacing: 0.8px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5;
}

.news_icon {
  width: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.news_icon .cls-1 {
  fill: #D2A360;
}

.news_content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  max-width: 1200px;
  padding: 0 20px 40px;
  margin: 0 auto;
}

.introduce .pic {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.introduce .pic img {
  width: 100%;
  border-radius: 100px 0 100px 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.introduce .text {
  padding: 0 20px;
}

.introduce .text .title {
  text-align: left;
}

.introduce .text .intro-list {
  padding-left: 25px;
}

.introduce .text .intro-list li {
  margin-bottom: 10px;
  position: relative;
}

.introduce .text .intro-list li::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: -25px;
  top: 6px;
  background-image: url(../img/plus.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.contact_item {
  border-radius: 25px 0 25px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 25px;
}

.contact_item label {
  border-right: 1px solid #dcdcdc;
  width: 65px;
  letter-spacing: 0.05em;
}

.contact_item input, .contact_item textarea {
  width: calc(100% - 65px);
  padding: 0 10px;
  height: 100%;
}

.contact_item.contact_vertify input {
  width: calc(100% - 130px);
}

.contact_item.contact_vertify img {
  width: 65px;
  height: 24px;
}

.contact_item.contact_content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 184px;
}

.contact_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact_btn button {
  margin: 0 0 0 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_btn .btn-rewrite {
  background-color: transparent;
  color: #d72136;
  border: 1px solid #d72136;
}

.contact_btn .btn-rewrite:hover {
  background-color: #D2A360;
  border-color: #D2A360;
  color: #fff;
}

.contact_inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact_map {
  width: 100%;
  padding-bottom: 20%;
  position: relative;
  margin-top: 40px;
  opacity: 0.5;
  border: 1px solid #dcdcdc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contact_map:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .contact_map {
    padding-bottom: 40%;
  }
}

.info_content_date {
  color: #bababa;
  margin: 0;
}

.info-date {
  font-size: 14px;
  color: #c4c4c4;
  margin: 0 0 5px;
  text-align: center;
}

.info-list {
  margin-bottom: 50px;
}

.info-list_item {
  width: 33.3333%;
  padding: 0 10px;
  margin-bottom: 40px;
}

.info-list_item a {
  display: block;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 60px 0 60px 0;
  overflow: hidden;
}

.info-list_item a img {
  width: 100%;
}

.info-list_item a .text {
  padding: 10px 10px 25px;
}

.info-list_item a .text h5 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
  letter-spacing: 0.08em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 58px;
  line-height: 1.4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.info-list_item a .text .more span {
  font-size: 14px;
  color: #c4c4c4;
  margin-right: 5px;
  margin-bottom: 3px;
}

.info-list_item a .text .more svg {
  width: 6px;
}

.info-list_item a .text .more svg .cls-1 {
  fill: #c4c4c4;
}

.info-list_item a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.info-list_item a:hover .text h5 {
  color: #d72136;
}

.info-list_item a .pic {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}

.info-list_item a .pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .info-list_item {
    width: 50%;
    margin-bottom: 20px;
  }
  .info-list_item-home {
    width: 100%;
  }
  .info-list_item a .text h5 {
    font-size: 18px;
    height: 48px;
  }
}

@media screen and (max-width: 450px) {
  .info-list_item {
    width: 100%;
  }
}

.download_title {
  width: calc(100% - 25px);
}

.download_icon {
  width: 25px;
  height: 25px;
}

.download_icon path {
  fill: #444;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.download_group:hover .download_title {
  color: #d72136;
}

.download_group:hover .download_icon path {
  fill: #d72136;
}

.policy {
  max-width: 840px;
  margin: 0 auto 100px;
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */